body, html {
    background: beige ;
    scroll-behavior: smooth}

.xxx {
    background: #e86423;
    font-size: 25px ; }

h1 {
    text-align: center;
    background: #dcc5c5;
    color: #c94e13
}

img {
    border: 10px solid #a80a46;
}


.yyy
{
    background: #e8d0c0;
    font-size: 20px ;
}
li {
    background: #dead96;
    list-style: -ms-radial-gradient(2px);


}
