.wrap {
    height:700px;
    width: 600px;
    display:flex;
    flex-direction: column;
    background-color: bisque;
    justify-content: center;
    text-align: center;

}

.b1 {
    height: 100px;
    background-color: #e86423;

}
.b2 {
    flex-grow: 1;
    height: 200px;
    width: 200px;
    display: flex;
    background-color: #92a7ec;
}
.b3 {
    height: 400px;

}



.main {
    height: 700px;
    width: 700px;
    background-color: #ffffff;
}
.menu {
    background-color:  #92a7ec;
}

    .block {
        display: flex;
        flex-direction: column ;
        text-align: center;
        justify-content: center;
    }


.table {
    border: 1px solid black;
    border-collapse: collapse;
}
