html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size:100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #e86423;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #e86423;
    border: 2px solid #EAEDF5;
    box-sizing: border-box;
    border-radius: 8px;

}
.navbar-light .navbar-nav .nav-link {
    color: #e86423;
    font-size: 25px;
    line-height: 32px;
}


blockquote:before, blockquote:after,
q:before, q:after {
    content:"";
    content:none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 100vh;
    background: url("../bg.png") no-repeat center/cover;
}

.header__top {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav__item img {
    width: 40px;

}



.nav__btn_mobile {
    display: none;
    width: 30px;
    flex-direction: column;
    row-gap: 4px;

}
.nav__btn_mobile div {
    height: 3px;
    background: #FF7400;
    border-radius: 50px;
}

.header__phone {
    font-weight: bold;
    font-size: 18px;
    border-left: 2px solid white;
    padding-left: 15px;
    line-height: 25px;
    color: #FFFFFF;
    width: 155px;
}

.header__contact {
    display: flex;
    column-gap: 45px;



}
.header__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 19px;
    height: 47px;
    background-color: #FF7400;
    border: none;
    cursor: pointer;
}

.btn-outline-warning {
    color: #c94e13;
    border-color: #c94e13;
    margin-top:10px;
}
.btn-outline-warning:hover {
    color: #000;
    background-color: #e86423;
    border-color: #e86423; }



.header__title {
    font-weight: normal;
    color: #D67E35;
    margin-top:203px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header__title h2  {
    font-size: 50px;
    line-height: 57px;
    margin-left: 24px;

}
.header__title h1 {
    font-size: 80px;
    line-height: 92px;
}
.header__title p {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;

}
.header__title p::before,
.header__title p::after {
    content:"";
    display: block;
    width: 61px;
    height: 2px;
    background-color: white;
}
.header__title p::before {
    margin-right: 10px;
}
.header__title p::after {
    margin-left: 10px;
}

.header__main , .header__button {
    margin-top: 35px;
}

.header__main_btn {
    display: flex;
    justify-content: center;


}

.body {
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 31px;
    margin-top: 124px;
    text-align: center;

}

.box {
    height: 328px;
    width: 349px;
    left: 926px;
    top: 693px;
    background-color: #ffffff;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;

}

.lgt img {
    width: 126px;
    height: 126px;
    left: 200px;
    margin-top: 35px;
}

.zag {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}
.text {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
    margin-top: 20px;

}

.zag span {
    color: #BC9060;
}



